html, body{
        margin:0;
        padding:0;
        width:100%;
        height:100%;
        font-family: "Roboto Slab";
    }

button:focus {
    outline: none;
}

a:hover {
    text-decoration: none;
}

.navbar-custom{
    background-color: #1f191a;
}

/* .navbar-brand img {
    width: 100%;
    height: auto;
} */

.navbar-custom .nav-item a {
    color: white;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: bold;
}

.navbar-custom .nav-item a:hover,
.navbar-custom .nav-item a:active,
.navbar-custom .nav-item a:focus {
    color: #C4C1C1;
}

.navbar-nav {
    margin-right: 25px;
}

.nav-item {
    padding: 0px 25px;
}

.main-login-btn {
    margin: 0px;
    padding: 10px 70px;
    background-color: #fc6e20;
    border: none;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    font-family: "Roboto Slab";
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
}

.main-login-btn:hover {
    background-color: white;
    border: #FC6E20 2px solid;
    text-decoration: none;
    color: #FC6E20;
}

.main-login-btn:before, .main-login-btn:after {
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #fc6e20;
    transition:400ms ease all;
}

.main-login-btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.main-login-btn:hover:before,.main-login-btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.container-fluid.login {
    top: 20px;
}

.login-col {
    margin-top: 50px;
    border-radius: 10px;
    height: 500px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    font-family: "Roboto Slab";
    background-image: url('../img/Без имени-1.png');
    background-size: 250px 120px;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.login-col h2 {
    margin-top: 60px;
}


#phone-picture,
#user-picture,
#picture-password {
    padding: 10px 10px;
    background-color: #333333;
    border: #FC6E20 2px solid;
    border-radius: 5px 0px 0px 5px;
}

#login-password,
#login-phone-number {
    padding-bottom: 15px;
    padding-top: 11px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    border: #FC6E20 2px solid;
    border-left: 0px;
    border-radius: 0px 5px 5px 0px;
    margin-left: -4px;
    background-color: #EFEFEF;
}

#login-password:focus,
#login-phone-number:focus {
    outline: none;
}

.login-form {
    margin-top: 50px;

}

.login-form p {
    color: #fc6e20;
    margin-top: 30px;
}

.login-form h2 {
    font-weight: bold;
}

.login-form h1 {
    margin-bottom: 40px;
}

.login-btn-accept {
    text-align: center;
    background-color: #ffffff;
    padding: 10px 85px;
    margin-top: 10px;
    border: #a5a09c 2px solid;
    border-radius: 5px;
    font-size: 20px;
    color: #a5a09c;
    transition: 300ms ease all;
}

.login-btn-accept:hover {
    background-color: #333333;
    color: white;
    border-color: #FC6E20;
}


.cbx {
    margin-top: 70px;
}

/* Home */


.carousel-item {
    position: relative;
    height: 91vh;
}

/*
@media (min-width: 576px) {
    .carousel-item {
        height: 520px;
    }
}

@media (min-width: 768px) {
    .carousel-item {
        height: 620px;
    }
}

@media (min-width: 992px) {
    .carousel-item {
        height: 85vh;
    }
}

@media (min-width: 1200px) {
    .carousel-item {
        height: 91vh;
    }
}
*/

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.carousel-content {
    max-width: 800px;
    position: relative;
    top: -540px;
    z-index: 2;
}

.carousel-text {
    color: #fff;
}

.carousel-text span {
    display: inline-block;
    margin-bottom: 80px;
    font-weight: 400;
}

.carousel-text h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.carousel-text p {
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
}

 /*
.carousel-text {
    color: #fff;
}

.carousel-content {
    max-width: 800px;
    position: relative;
    top: -9px;
    z-index: 2;
} */

.home-content {
    margin-top: -280px;
}

footer {
    background-color: #EFEFEF;
    margin-top: 100px;
}

.footer-content {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-img img {
    width: 160px;
    border-radius: 50%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer-content p {
    font-weight: 300;
    font-size: 13px;
}

.footer-content span {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-content h2{
    font-size: 2.25rem;
}

/* Дизайн для ЛК */


.left-profile-info {
    top: 50px;
    font-family: "Roboto Slab";
}

.info-panel {
    height: 300px;
    padding: 25px 30px;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.25);
}

.info-panel p {
    margin-bottom: 5px;
}

.table-order {
    height: 610px;
    top: 50px;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.25);
    font-family: "Roboto Slab";
}

.change-profile-btn {
    position: relative;
    display:block;
    margin: 40px auto;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 7px;
    background: #FC6E20;
    border: none;
    color: #ffffff;
    transition:500ms ease all;
}

.change-profile-btn:hover {
    color: #FC6E20;
    background: #fff;
    border: #FC6E20 2px solid;
    font-weight: bold;
    transition:400ms ease all;
}

.logout-btn {
    position: relative;
    display:block;

    margin: 60px auto;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 7px;
    background: #FC6E20;
    border: none;
    color: #ffffff;
    transition:500ms ease all;
}

.logout-btn:hover {
    color: #FC6E20;
    background: #fff;
    text-decoration: none;
    border: #FC6E20 2px solid;
    font-weight: bold;
    transition:400ms ease all;
}

.adress-btn-info {
    position: relative;
    font: bold 12px "Roboto Slab";
    display: block;
    padding: 20px 120px;
    margin: 30px auto;
    background: #FFFFFF;
    border: 5px solid #FC6E20;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.modal-content {
    background: #EEE;
}

.modal-title {
    padding-left: 90px;
}

.modal-btn-custom {
    margin: 5px auto;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 7px;
    background: #FC6E20;
    border: none;
    color: #ffffff;
    transition:500ms ease all;
}
.modal-btn-custom:hover {
    color: #FC6E20;
    background: #fff;
    border: #FC6E20 2px solid;
    font-weight: bold;
    transition:400ms ease all;
}

.modal-body {
    padding-top: 20;
}

/* Меню */

.menu-content {
    margin-top: 50px;
}

.menu-list-group {
background: #EFEFEF;
}

.menu-list-group .list-group{
    background: #EFEFEF;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-list-group .list-group-item {
    border: none;
    background: #EFEFEF;
    color: black;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    position: relative;
}

.menu-list-group .collapse.list-group-item {
    padding-left: 60px;
}

.menu-list-group .list-group-item:first-child::before,
.menu-list-group .list-group-item:nth-child(2)::before,
.menu-list-group .list-group-item:nth-child(3)::before,
.menu-list-group .list-group-item:nth-child(4)::before,
.menu-list-group .list-group-item:last-child::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0;
    left: -50px;
    top: 16px;
    position: absolute;
    transition: 500ms all ease;
}


.menu-list-group .list-group-item:first-child::before {
    background-image: url("https://img.icons8.com/ios/30/FC6E20/pizza-five-eighths.png");
}

.menu-list-group .list-group-item:nth-child(2)::before {
    background-image: url("https://img.icons8.com/ios-filled/25/FC6E20/pizza.png");
    width: 25px;
    height: 25px;
    top: 18px;
}

.menu-list-group .list-group-item:nth-child(3)::before {
    background-image: url("https://img.icons8.com/pastel-glyph/30/FC6E20/birthday-cake-1.png");
}

.menu-list-group .list-group-item:nth-child(4)::before {
    background-image: url("https://img.icons8.com/pastel-glyph/30/FC6E20/american-pancakes.png");
}

.menu-list-group .list-group-item:last-child::before {
    background-image: url("https://img.icons8.com/android/24/FC6E20/wine-glass.png");
    width: 24px;
    height: 24px;
    top: 20px;
}

.menu-list-group .list-group-item:first-child:hover::before,
.menu-list-group .list-group-item:first-child:focus::before,
.menu-list-group .list-group-item:nth-child(2):hover::before,
.menu-list-group .list-group-item:nth-child(2):focus::before,
.menu-list-group .list-group-item:nth-child(3):hover::before,
.menu-list-group .list-group-item:nth-child(3):focus::before,
.menu-list-group .list-group-item:nth-child(4):hover::before,
.menu-list-group .list-group-item:nth-child(4):focus::before,
.menu-list-group .list-group-item:last-child:hover::before,
.menu-list-group .list-group-item:last-child:focus::before {
    left: 0px;
    opacity: 1;
}


.menu-list-group .list-group-item:active {
    background-color: #FC6E20;
}

.menu-head {
    margin-bottom: 40px;
    font-weight: 300;
}

.card-columns {
   @media (min-width: 576px)  {
    column-count: 1;
  }
  @media (min-width: 768px) {
    column-count: 2;
  }
  @media (min-width: 992px)  {
    column-count: 3;
  }
}

.card {
    border: none;
    height: 296px;
}


.menu-img img {
     object-fit: cover;
     max-height: 150px;
     transition: 400ms all ease;
}

.menu-img a:hover img {
    transform: scale(0.9);
}

.cart-btn {
    background-color: #C4C4C4;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
}

.cart-btn:hover {
    background-color: #FC6E20;
}

.cart-menu-footer span {
    background: #C4C4C4;
    padding: 5px 18px;
    font-weight: bold;
    font-size: 1.15rem;
    border-radius: 5px;
}

.product-head {
    margin-top: 50px;
    margin-bottom: 40px;
}

.product-info p {
    font-size: 1.2rem;
    font-weight: 300;
}


/* Стили для корзины */

.offer-container {
    margin-bottom: -50px;
}

.dish-info {
    height: 100px;
    margin-top: 50px;
    background: #EFEFEF;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px #1f191a solid;

}

.photo-dish {
    padding-left: 0px;
    height: 100px;
}

.photo-dish img {
    object-fit: cover;
    max-height:99px;
}

.description-dish {
    padding-top: 22px;
}

.description-dish span{
    font: bold 18px 'Roboto Slab';
}

.description-dish p{
    margin-top: 6px;
    font-size: 14px;
}

.curr-price-item p {
    font: bold 22px 'Roboto Slab';
    width: 95px;
    background: #FC6E20;
    padding: 10px 10px;
    margin-top: 30px;
    color: #1f191a;
    text-align: center;
    border-radius: 7px;
}

.btn-form-order {
    margin-top: 80px;
    padding: 10px 50px;
    border: none;
    background: #FC6E20;
    border-radius: 10px;
    font: bold 22px 'Roboto Slab';
    color: white;
}

/* Тот самый счётчик */


.counter-value {
    padding-top: 30px;
}

.count-val {
    border: none;
    font: bold 30px "Roboto Slab";
    text-align: center;
    border-radius: 10px;
}


.count-val::-webkit-inner-spin-button {
    display: none;
}

.btn-count {
    height: 50px;
    width: 50px;
    font: bold 28px "Roboto Slab";
    background: none;
    color: #FC6E20;
    border: 5px #FC6E20 solid;
    border-radius: 50%;
}

.btn-count:focus {
    outline: none;
}

.close-basket {
    position: absolute;
    right: 13px;
    top: 8px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}
.close-basket:hover {
    opacity: 1;
    cursor: pointer;
}
.close-basket:before, .close-basket:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
}
.close-basket:before {
    transform: rotate(45deg);
}
.close-basket:after {
    transform: rotate(-45deg);
}

/* Заказы (повар) */

.order-container {
    margin-top: 30px;
}

.orders-head {
     margin-bottom: 15px;
}

.order-card {
    background-color: #efefef;
    width: 70%;
    height: 260px;
}

.order-card a {
    color: black;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}

.order-card a:hover,
.order-card a:active {
    color: #FC6E20;
}

.order-card p {
    font-size: 18px;
}

.order-card span{
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}

.card-order-btn {
    margin: 5px auto;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 7px;
    background: #FC6E20;
    border: none;
    color: #ffffff;
    transition:500ms ease all;
}
.card-order-btn:hover {
    color: #FC6E20;
    background: #fff;
    border: #FC6E20 2px solid;
    font-weight: bold;
    transition:400ms ease all;
}

.order-modal {
    width: 900px;
}

.counter-value span {
    display: inline-block;
}

.order-modal-body {
    margin-top: -20px;
    margin-bottom: 70px;
}