<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <!-- Контейнер (определяет ширину компонента Navbar) -->
            <div class="container">
                <!-- Бренд и кнопка «Гамбургер» -->
                <a class="navbar-brand" href="#"><img src="../static/img/logo.png/" width="255" height="45" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Основная часть меню (может содержать ссылки, формы и другие элементы) -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Этот блок расположен слева -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">
                                Главная <span class="sr-only">(текущая)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Меню</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">О&nbsp;нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Корзина</a>
                        </li>
                    </ul>
                    <!-- Этот блок расположен справа -->
                    <a class="main-login-btn" href="/login">ВОЙТИ</a>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}{% endblock %}

    <footer>
        <div class="container">
            <div class="footer-content text-center">
                <h2>Связаться с нами:</h2>

                <div class="footer-img">
                    <img src="../static/img/2020-03-29_17-56-24.webp" alt="">
                </div>

                <h5>Владислав Калачёв</h5>
                <p>Основатель и директор «‎Пиццман и Калачёв»‎</p>

                <span class="phone-number"><b>Телефон:</b> 8 (917) 40-21-975</span>

                <div class="footer-links">
                    <a href="https://www.instagram.com/pizzman_and_kalachev/"><img src="https://img.icons8.com/windows/50/000000/instagram-new.png"/></a>
                    <a href="https://vk.com/pizzman_and_kalachev"><img src="https://img.icons8.com/ios-filled/40/000000/vk-com.png"/></a>
                </div>

            </div>
        </div>
    </footer>




    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>