{% extends "base.html" %}


{% block content %}
    <h1 style="font: bold 40px 'Roboto Slab'; text-align: center; margin-top: 50px; margin-bottom: 20px;">Корзина</h1>
    {% for position in basket.positions %}
    <div class="container-fluid offer-container">
        <div class="container">
            <div class="row dish-info">
                <div class="col-2 photo-dish">
                </div>
                <div class="col-5 description-dish">
                    <span>{{ position.product.front_name }}</span>
                    <p>Описание: {{ position.product.describtion }}</p>
                </div>
                <form class="col-3 counter-value" action="" method="post">
                    <input hidden name="position_id" value="{{ position.id }}">

                    <button type="submit" class="btn-count" name="act" value="down">-</button>
                    <input type="number" min="0" max="100" value="{{ position.count }}" readonly class="count-val">
                    <button type="submit" class="btn-count" name="act" value="up">+</button>
                </form>
                <form class="col-2 curr-price-item" action="" method="post">
                    <input hidden name="position_id" value="{{ position.id }}">
                    <button type="submit" class="close" name="act" value="delete"></button>
                    <p>{{ position.point_cost }}</p>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="container">
            <form class="d-flex justify-content-end" action="" method="post">
                <button type="submit" class="btn-form-order" name="act" value="do order">ОФОРМИТЬ ЗАКАЗ</button>
            </form>
        </div>
    </div>
{% endblock %}