{% extends "base.html" %}


{% block content %}
    <h1 style="font: bold 40px 'Roboto Slab'; text-align: center; margin-top: 50px; margin-bottom: 20px;">Корзина</h1>
    {% if basket.positions %}'
    {% for position in basket.positions %}
    <div class="container-fluid offer-container">
        <div class="container">
            <div class="row dish-info">
                <div class="col-2 photo-dish">
                    <img class="card-img-top" src="../static/img/{{  position.product.back_name }}" alt="Card image cap">
                </div>
                <div class="col-5 description-dish">
                    <span>{{ position.product.front_name }}</span>
                    <p>Описание: {{ position.product.describtion }}</p>
                </div>
                <form class="col-3 counter-value" action="" method="post">
                    <input hidden name="position_id" value="{{ position.id }}">

                    <button type="submit" class="btn-count" name="act" value="down">-</button>
                    <input type="number" min="0" max="100" value="{{ position.count }}" readonly class="count-val">
                    <button type="submit" class="btn-count" name="act" value="up">+</button>
                </form>
                <form class="col-2 curr-price-item" action="" method="post">
                    <input hidden name="position_id" value="{{ position.id }}">
                    <button type="submit" class="close-basket" name="act" value="delete"></button>
                    <p>{{ position.point_cost }}</p>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="container" style="background: #efefef; padding: 15px 0;">
            <div class="row">
                <div class="col-12 text-center"><span style="font: bold 32px 'Roboto Slab'">
                    Общая сумма заказа:
                </span>
                    <span style="font: bold 32px 'Roboto Slab'; color: #FC6E20;">
                        {{ basket.total_cost }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="container">
            <form action="" method="post">
                <div class="row">
                    <div class="col-12 text-center">
                        <h5 style="margin-bottom: 25px;"><b>Комментарий к заказу</b></h5>
                        <p><textarea rows="10" cols="45" name="comment-offer" placeholder="Вводите текст сюда"
                        style="border-radius: 10px; padding: 15px 18px; border: none;
                        box-shadow: 0 0 10px rgba(0,0,0,0.5); resize: none;"></textarea></p>
                        <h5 style="margin-top: 50px; margin-bottom: 25px;"><b>Способ оплаты:</b></h5>
                        <p><input name="pay_radio" type="radio" value="cash"> Наличными</p>
                        <p><input name="pay_radio" type="radio" value="online_pay"> Онлайн-оплата</p>
                        <p><input name="pay_radio" type="radio" value="bank_pay" checked> Банковской картой (курьер)</p>
                        {% if current_user.addresses %}
                        <h5 style="margin-top: 50px; font: bold 18px 'Roboto Slab'">Доставить на адрес: </h5>
                        <select class="form-control form-control-lg">
                            {% for address in current_user.addresses %}
                            <option>{{ address.data }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <p>У вас нет адресов в Личном Кабинете.  <a href="/profile" style="text-decoration: none; color: #FC6E20;">Добавить</a></p>
                        {% endif %}
                        <button type="submit" class="btn-form-order" name="act" value="do order">ОФОРМИТЬ ЗАКАЗ</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
        <h1 class="text-center" style="font: bold 28px 'Roboto Slab'; margin-top: 70px;">Корзина пуста</h1>
    {% endif %}
{% endblock %}