{% extends "base_workers.html" %}

{% block content %}

<div class="container-fluid order-container">
    <div class="row text-center">
    <div class="col-md-4">
        <h2 class="orders-head text-center">Новые заказы</h2>
        <div class="card-columns" style="column-count: 1;">
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder" data-toggle="modal">Заказ №</a></h4>
                    <p>Позиций: </p>
                    <p>Общая стоимость: </p>
                    <div class="text-center">
                        <form action="" method="post">
                            <input hidden name="product_id" value="">
                            <button class="card-order-btn" type="submit" name="act" value="to cart">ПРИНЯТЬ</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder" data-toggle="modal">Заказ №1000</a></h4>
                    <p>Позиций: </p>
                    <p>Общая стоимость: </p>
                    <div class="text-center">
                        <form action="" method="post">
                            <input hidden name="product_id" value="">
                            <button class="card-order-btn" type="submit" name="act" value="to cart">ПРИНЯТЬ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="orders-head text-center">В процессе готовки</h2>
        <div class="card-columns" style="column-count: 1;">
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder" data-toggle="modal">Заказ №</a></h4>
                    <p>Позиций: </p>
                    <p>Общая стоимость: </p>

                    <div class="text-center">
                        <form action="" method="post">
                            <input hidden name="product_id" value="">
                            <button class="card-order-btn" type="submit" name="act" value="to cart">ГОТОВО</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="orders-head text-center">Готовые</h2>
        <div class="card-columns" style="column-count: 1;">
            <div class="card order-card" style="width: 80%">

                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder" data-toggle="modal">Заказ №</a></h4>
                    <p>Позиций: </p>
                    <p>Общая стоимость: </p>
                    <span>Ждет отправки</span>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- HTML-код модального окна (просмотр заказа) -->
    <div id="showOrder" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content order-modal">
                <div class="modal-header">
                        <h3 class="modal-title" style="padding-left: 300px;">Заказ №</h3>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body order-modal-body">
                <!--{# for position in basket.positions #}-->
                    <div class="container-fluid offer-container">
                            <div class="row dish-info">
                                <div class="col-2 photo-dish">
                                    <img class="card-img-top" src="../static/img/zakIardbo_Q.jpg{#  position.product.back_name #}" alt="Card image cap">
                                </div>
                                <div class="col-5 description-dish">
                                    <span>Название{# position.product.front_name #}</span>
                                    <p>Описание: {# position.product.describtion #}</p>
                                </div>
                                <div class="col-3 counter-value">
                                    <span>Кол-во</span>
                                    <input disabled type="number" min="0" max="100" value="{# position.count #}3" readonly class="count-val">
                                </div>
                                <div class="col-2 curr-price-item">
                                    <p> Цена {# position.point_cost #}</p>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid offer-container">
                            <div class="row dish-info">
                                <div class="col-2 photo-dish">
                                    <img class="card-img-top" src="../static/img/zakIardbo_Q.jpg{#  position.product.back_name #}" alt="Card image cap">
                                </div>
                                <div class="col-5 description-dish">
                                    <span>Название{# position.product.front_name #}</span>
                                    <p>Описание: {# position.product.describtion #}</p>
                                </div>
                                <div class="col-3 counter-value">
                                    <span>Кол-во</span>
                                    <input disabled type="number" min="0" max="100" value="{# position.count #}3" readonly class="count-val">
                                </div>
                                <div class="col-2 curr-price-item">
                                    <p> Цена {# position.point_cost #}</p>
                                </div>
                            </div>
                        </div>
                    <div class="container-fluid offer-container">
                            <div class="row dish-info">
                                <div class="col-2 photo-dish">
                                    <img class="card-img-top" src="../static/img/zakIardbo_Q.jpg{#  position.product.back_name #}" alt="Card image cap">
                                </div>
                                <div class="col-5 description-dish">
                                    <span>Название{# position.product.front_name #}</span>
                                    <p>Описание: {# position.product.describtion #}</p>
                                </div>
                                <div class="col-3 counter-value">
                                    <span>Кол-во</span>
                                    <input disabled type="number" min="0" max="100" value="{# position.count #}3" readonly class="count-val">
                                </div>
                                <div class="col-2 curr-price-item">
                                    <p> Цена {# position.point_cost #}</p>
                                </div>
                            </div>
                        </div>

                 {# endfor #}
                </div>
                </div> </div> </div>


{% endblock %}