{% extends "base_workers.html" %}

{% block content %}

<div class="container-fluid order-container">
    <div class="row text-center">
    <div class="col-md-4">
        <h2 class="orders-head text-center">Новые заказы</h2>
        <div class="card-columns" style="column-count: 1;">
            {% for order in new_orders %}
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder{{ order.id }}" data-toggle="modal">Заказ № {{ order.id }}</a></h4>
                    <p>Позиций: {{ order.positions.__len__() }}</p>
                    <p>Общая стоимость: {{ order.total_cost }}</p>
                    <div class="text-center">
                        <form action="" method="post">
                            <input hidden name="order_id" value="{{ order.id }}">
                            <button class="card-order-btn" type="submit" name="act" value="accept order">ПРИНЯТЬ</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="orders-head text-center">В процессе готовки</h2>
        <div class="card-columns" style="column-count: 1;">
            {% for order in cooking_orders %}
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder{{ order.id }}" data-toggle="modal">Заказ № {{ order.id }}</a></h4>
                    <p>Позиций: {{ order.positions.__len__() }}</p>
                    <p>Общая стоимость: {{ order.total_cost }}</p>
                    <div class="text-center">
                        <form action="" method="post">
                            <input hidden name="order_id" value="{{ order.id }}">
                            <button class="card-order-btn" type="submit" name="act" value="order done">ГОТОВО</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="orders-head text-center">Готовые</h2>
        <div class="card-columns" style="column-count: 1;">
            {% for order in done_orders %}
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder{{ order.id }}" data-toggle="modal">Заказ № {{ order.id }}</a></h4>
                    <p>Позиций: {{ order.positions.__len__() }}</p>
                    <p>Общая стоимость: {{ order.total_cost }}</p>
                    <span>{{ order.statuses[order.status] }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>
{# модальные окна для новых заказов #}
    {% for ls in [new_orders, cooking_orders, done_orders] %}
    {% for order in ls %}
    <div id="showOrder{{ order.id }}" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content order-modal">
                <div class="modal-header">
                    <h3 class="modal-title" style="padding-left: 300px;">Заказ № {{ order.id }}</h3>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body order-modal-body">
                    {% for position in order.positions %}
                        <div class="container-fluid offer-container">
                            <div class="row dish-info">
                                <div class="col-2 photo-dish">
                                    <img class="card-img-top" src="../static/img/{{  position.product.back_name }}" alt="Card image cap">
                                </div>
                                <div class="col-5 description-dish">
                                    <span>{{ position.product.front_name }}</span>
                                    <p>{{ position.product.describtion }}</p>
                                </div>
                                <div class="col-3 counter-value">
                                    <span>{{ position.count }} шт.</span>
                                </div>
                                <div class="col-2 curr-price-item">
                                    <p>{{ position.point_cost }} р.</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
{% endblock %}