{% extends "base_workers.html" %}

{% block content %}

<div class="container-fluid order-delivery-container">
    <div class="row text-center">
    <div class="col-md-4">
        <h2 class="orders-head text-center">Новые заказы</h2>
        <div class="card-columns" style="column-count: 1;">
            {% for order in new_orders %}
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder{{ order.id }}" data-toggle="modal">Заказ № {{ order.id }}</a></h4>
                    <p>Позиций: {{ order.positions.__len__() }}</p>
                    <p>Адрес: {{ order.address_data }}</p>
                    <p>Общая стоимость: {{ order.total_cost }} р.</p>
                    <div class="text-center">
                        <form action="" method="post">
                            <input hidden name="order_id" value="{{ order.id }}">
                            <button class="card-order-btn" type="submit" name="act" value="accept order">ПРИНЯТЬ</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="orders-head text-center">Доставляются вами</h2>
        <div class="card-columns" style="column-count: 1;">
            {% for order in delivering_orders %}
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder{{ order.id }}" data-toggle="modal">Заказ № {{ order.id }}</a></h4>
                    <p>Позиций: {{ order.positions.__len__() }}</p>
                    <p>Адрес: {{ order.address_data }}</p>
                    <p>Общая стоимость: {{ order.total_cost }} р.</p>
                    <div class="text-center">
                        <form action="" method="post">
                            <input hidden name="order_id" value="{{ order.id }}">
                            <button class="card-order-btn" type="submit" name="act" value="order done">ГОТОВО</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4">
        <h2 class="orders-head text-center">Доставленные</h2>
        <div class="card-columns" style="column-count: 1;">
            {% for order in done_orders %}
            <div class="card order-card" style="width: 80%">
                <div class="card-body text-center">
                    <h4 class="card-title"><a href="#showOrder{{ order.id }}" data-toggle="modal">Заказ № {{ order.id }}</a></h4>
                    <p>Позиций: {{ order.positions.__len__() }}</p>
                    <p>Адрес: {{ order.address_data }}</p>
                    <p>Общая стоимость: {{ order.total_cost }} р.</p>
                    <span>{{ order.statuses[order.status] }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>

{# модальные окна для новых заказов #}
    {% for ls in [new_orders, delivering_orders, done_orders] %}
    {% for order in ls %}
    <div id="showOrder{{ order.id }}" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content order-modal">
                <div class="modal-header">
                    <h3 class="modal-title" style="padding-left: 300px;">Заказ № {{ order.id }}</h3>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <div class="modal-body order-modal-body" style="margin-bottom: 25px;">
                        <div class="container-fluid text-center" style="margin-top: 25px;">
                            <p><b>Адрес:</b> {{ order.address_data }}</p>
                            <p><b>Время доставки:</b> {{ order.delivery_time }}</p>
                            <p><b>Способ оплаты:</b> {{ order.payment_way }}</p>
                            <p><b>Позиций:</b> {{ order.positions.__len__() }} шт.</p>
                            <p><b>Цена:</b> {{ order.total_cost }} р.</p>
                            <p><b>Комментарий:</b> {{ order.commentary }}</p>
                        </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}


{% endblock %}