{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2 class="product-head text-center">Название товара</h2>
    <div class="row">
        <div class="col-md-4" style="background: #efefef;">
            <p>Фото товара</p>
            <!-- <img src="..." alt="Фото товара"> -->
        </div>
        <div class="col-md-6 product-info">
            <p class="product-components">Состав: Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            <br>
            <p>Энергетическая ценность: 1000 ккал Жиры: 10г Белки: 25г Углеводы: 30г</p>
            <button type="submit" class="modal-btn-custom">В КОРЗИНУ</button>
        </div>

    </div>
</div>

{% endblock %}