{% extends "base.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-4 left-profile-info">
                    <div class="info-panel">
                        {% if current_user.name %}
                            <p>Имя: {{ current_user.name }}</p>
                        {% else %}
                            <p>Имя: Не указано</p>
                        {% endif %}

                        {% if current_user.surname %}
                            <p>Фамилия: {{ current_user.surname }}</p>
                        {% else %}
                            <p>Фамилия: Не указано</p>
                        {% endif %}

                        <p>Номер телефона: {{ current_user.phone_number }}</p>

                        {% if current_user.birthday %}
                            <p>Дата рождения: {{ current_user.birthday }}</p>
                        {% else %}
                            <p>Дата рождения: Не указано</p>
                        {% endif %}

                        {% if current_user.email %}
                            <p>E-Mail: {{ current_user.email }}</p>
                        {% else %}
                            <p>E-Mail: Не указано</p>
                        {% endif %}

                        <button class="change-profile-btn" data-toggle="modal" data-target="#editProfile">РЕДАКТИРОВАТЬ</button>
                    </div>
                    {% for address in current_user.addresses %}
                        <button class="adress-btn-info" data-toggle="modal" data-target="#editAddress">{{ address.data }}</button>
                    {% endfor %}
                    <button class="adress-btn-info" data-toggle="modal" data-target="#editAddress">Добавить адрес</button>
                </div>
                <div class="col-7 offset-md-1 table-order">
                    <table class="table">
                        <thead>
                            <tr>
                              <th scope="col">Номер заказа</th>
                              <th scope="col">Стоимость</th>
                              <th scope="col">Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in current_user.client_orders %}
                                {% if order.status != 0 %}
                                <tr>
                                    <th scope="row">{{ order.id }}</th>
                                    <td>{{ order.total_cost }}</td>
                                    <td>{{ order.statuses[order.status] }}</td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <a href="/logout" class="logout-btn">ВЫЙТИ</a>
            </div>

        </div>
    </div>

    <!-- HTML-код модального окна (редактирование профиля) -->
    <div id="editProfile" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="" class="edit-profile-form text-center" method="post">
                    <div class="modal-header">
                        <h3 class="modal-title">Изменение данных</h3>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">

                                {{ form_modal_edit.hidden_tag() }}
                                {{ form_modal_edit.csrf_token }}

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form_modal_edit.name.label(for="inputName") }}
                                        {{ form_modal_edit.name(class="form-control", type="text", id="inputName", placeholder="Котофей") }}

                                    </div>
                                    <div class="form-group col-md-6">
                                        {{ form_modal_edit.surname.label(for="inputSurname") }}
                                        {{ form_modal_edit.surname(class="form-control", type="text", id="inputSurname", placeholder="Мурзиков") }}

                                    </div>
                                </div>

                                  <div class="form-group">
                                      {{ form_modal_edit.email.label(for="inputEmail")}}
                                      {{ form_modal_edit.email(class="form-control", type="email", id="inputEmail") }}
                                      {% for error in form_modal_edit.email.errors %}
                                            <p class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </p>
                                        {% endfor %}
                                  </div>

                                <p>Дата рождения</p>
                                  <div class="form-row">
                                    <div class="form-group col-md-4">
                                      {{ form_modal_edit.day.label}}
                                      {{ form_modal_edit.day(class="form-control") }}
                                    </div>

                                    <div class="form-group col-md-4">
                                      {{ form_modal_edit.month.label}}<br>
                                      {{ form_modal_edit.month(class="form-control") }}
                                    </div>

                                      <div class="form-group col-md-4">
                                      {{ form_modal_edit.year.label}}<br>
                                      {{ form_modal_edit.year(class="form-control") }}
                                    </div>
                                  </div>
                        </div>
                        {% if message %}
                            <p class="alert alert-danger" role="alert">{{ message }}<p>
                        {% endif %}
                    </div>
                    <div class="modal-footer ">
                        {{ form_modal_edit.submit(type="submit", class="btn btn-primary modal-btn-custom") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- HTML-код модального окна (добавление адреса) -->
    <div id="editAddress" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="" class="edit-profile-form text-center" method="post">
                    {{ form_address.hidden_tag() }}
                    {{ form_address.csrf_token }}
                    <div class="modal-header">
                        <h3 class="modal-title">Добавление адреса</h3>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group">
                                {{ form_address.city.label}}
                                {{ form_address.city(class="form-control") }}
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form_address.street.label}}
                                    {{ form_address.street(class="form-control") }}
                                    {% for error in form_address.street.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_address.house_number.label}}
                                    {{ form_address.house_number(class="form-control") }}
                                    {% for error in form_address.house_number.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form_address.flat.label}}
                                    {{ form_address.flat(class="form-control") }}
                                    {% for error in form_address.flat.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_address.entrance.label}}
                                    {{ form_address.entrance(class="form-control") }}
                                    {% for error in form_address.entrance.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {{ form_address.floor.label}}
                                    {{ form_address.floor(class="form-control") }}
                                    {% for error in form_address.floor.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                                <div class="form-group col-md-6">
                                    {{ form_address.doorphone.label}}
                                    {{ form_address.doorphone(class="form-control") }}
                                    {% for error in form_address.doorphone.errors %}
                                        <p class="alert alert-danger" role="alert">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {{ form_address.submit(type="submit", class="btn btn-primary modal-btn-custom") }}
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}